body {
    margin-top: 10px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 10px;
    font-family: "open sans-serif";
    background-color: ivory;
}

h1, h2 {

   font-family: "Oswald";
   margin: 0;
}
h1, h2, p {
   color: darkblue;
}
img {
   float: left;
}
p {
   width: 950px;
}
